* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  picture {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  a {
    display: block;
    text-decoration: none; 
  }

  p a, li a {
    display: inline-block;
  }

  /*Settings */
  html {
    --black: #333;
    --white: #efefef;
    --color: rgb(60, 130, 246); 
    --dark: rgb(31, 41, 55);
    --light: skyblue; 
  }

   /*Dev styles */

   /*body * {
    border: 1px solid blue;
    padding: 2px;
  } */

  /* structure */
  body {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 400px;
  }

  main {
    flex-grow: 1;
  }

  .inner-column {
    display: block;
    border: 8px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1f2937;
  }

.list-h {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color: white;
}

.list-a {
    list-style: none;
    display: flex;
}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

  footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    text-align: center; /* Center-align the text */
    position: relative;
    margin-top: 100px;
  }
  
 
  /* Typography */

.loud-voice {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: .9;
  }
 @media (min-width: 700px) {
    .loud-voice {
        font-size: 40px; 
    }
 }

.calm-voice {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: .9;
}



  /* components */

.button {
    font-family: sans-serif;
    display: inline-block;
    color: white;
    font-size: 30;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: pink;
}

product-card {
    display: block;
}

  /* Modules */
  graphic-dip {
    display: block;
    display: flex; 
    flex-direction: column;
    gap: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  graphic-dip text-content{
    display: block;
    padding-left: 20px;
  }

  graphic-dip text-content .button {
    margin-top: 10px;
  }

@media (min-width: 700px) {
    graphic-dip {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }
    graphic-dip :is(text-content, picture) {
        flex-basis:50%;
    }

}

.welcome {
    background-color: var(--dark);
    color: var(--white);
}

.welcome .button{
    background-color: var(--color);
    color: var(--white);
}


/* CTA-section 2 */
products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}   

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    grid-gap: 2em;
    border-radius: 4px;
    margin-left: 300px;
    margin-right:400px;
    list-style: none;
    width: 98%;
    max-width: 1100px;
    overflow: auto;
    color: grey;
    padding-bottom: 50px;
}

.our-products {
    margin-top: 100px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow:visible;
    padding: 10px;
}

.bwc {
    border: #3882f6 solid 3px;
    border-radius: 15px;
    overflow: hidden;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 200px; /* Padding inside the footer */
    text-align: center; /* Center-align the text */
    position: relative;
    width: 100%;
    font-size: 36px;
    font-weight: 100;
    font-style: light italic;
    color: #1f2937;
    font-family: sans-serif;
}

.cta {
    background-color:#3882f6;
    border-radius: 15px;
    display:  block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin-left: 100px;
    margin-bottom: 0px;
    width: 900px;
    height: 200px;
    color: #e5e7eb;
    padding: 50px;
}

.button-1 {
    border-style: inherit;
    border: white solid; 
    float: right;
    align-items: left;
    border-radius: 10px;
}

.loud-1 .calm-2 {
    float: left;
    font-weight: 200;
}
